html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*================= start ==================*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aaa;
  line-height: 1.5;
  color: #333b48;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* height: 100vh; */
}

header {
  border-bottom: 1px solid black;
  background-color: steelblue;
  color: white;
}

nav {
  margin: 0 auto;
  position: relative;
  background-color: slategray;
  width: 500px;
}

nav ul {
  display: flex;
}

/* nav li */
.tab {
  border-top: 1px solid rgb(200, 200, 200);
  border-left: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  flex: 1;
}

nav a {
  color: aquamarine;
}

.tab:hover::before {
  content: "";
  position: absolute;
  top: 2.01rem;
  background: rgb(255, 153, 0);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  left: calc(49%);
}

#content {
   height: calc(100vh - 45px);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

li {
  text-align: center;
}

p {
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

img {
  height: 100vh;
}

.homeDiv {
   height: 90vh;
   padding: 15px;
   background-color: crimson;
}
.homeDiv p {
   padding: 10px 40px;
}

#homeDiv,
#menudiv,
#contactDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #aaa;
  align-items: center;
  justify-content: center;
}

#homeImg {
   height: calc(100vh - 45px);
   width: 100vw;
   background-image: url(./images/churros.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#homeContainer {
   height: calc(100vh - 45px);
   width: 100vw;
}

#homeContainer h1 {
   margin: 2rem;
}

#homeContainer p {
   padding: 10px 10vw;
   margin-bottom: 45px;
}

.menu-section-header h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.menu-section p {
  margin-bottom: 0.4rem;
}
.menu-section li:last-child {
  margin-bottom: 3.5rem;
}
.menu-section-header {
  font-family: cursive;
  margin-bottom: 0.6rem;
  margin-top: 3rem;
}
#menuContainer {
  background-color: rgba(219, 219, 219);
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  border: 10px double darkturquoise;
  border-width: 9px;
}

#containerDiv {
  background-color: greenyellow;
}
#contactDiv h1 {
  border: 1px solid red;
  padding: 5px;
}
#contactDiv p {
  border: 1px solid blue;
  padding: 10px;
}
#imageDiv {
  margin: 1em 1em;
  max-height: 82vh;
  max-height: 100vw;
  border: 1px solid red;
}

footer {
  height: 25px;
  width: 100vw;
  padding: 10px;
  background-color: steelblue;
  color: white;
}